
@import url('https://fonts.googleapis.com/css?family=Great+Vibes|Slabo+27px');

*{
  //outline: 1px solid red;
  font-family: 'Slabo 27px', serif;
  font-weight: lighter;
}

body{
  max-width: 1000px;
  margin: auto;
}

a{
  text-decoration: none;
  color: black;
}

header{
  display: grid;
  grid-row: 1fr 1fr 1fr;
  grid-column: 1fr 1fr;
  grid-template-areas:
    "logo"
    "title"
    "subtitle"
    "menu"
  ;
  justify-items: center;
  width: 100%;
  max-width: 1000px;
  margin: auto;
  .logo{
    grid-area: logo;
    width: 100%;
    img{
      display:block;
      margin:auto;
    }
  }
  .title{
    grid-area: title;
    width: 100%;
    h1{
      font-size: 5em;
      margin: auto;
    }
  }
  .subtitle{
    grid-area: subtitle;
    h2{
      font-family: 'Great Vibes', cursive;
      text-align: right;
      font-size: 3em;
      margin: auto;
    }
  }
  .menu{
    grid-area: menu;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 50px;
    width: 100%;
    justify-items: center;
  }
  .menu-item{
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid white;
    transition: .8s ease all;
  }
  .menu-item:hover, .menu-item:focus{
    border-bottom: 1px solid black;
  }
}

@media (max-width: 800px) {
  header{
    display: grid;
    grid-column: 1fr 1fr 1fr;
    grid-template-areas:
      "logo"
      "title"
      "subtitle menu"
    ;
  }
  .menu{
    visibility: hidden;
  }
}

@media (min-width: 800px) {
  .menuToggle{
    visibility: hidden;
  }
  input{
    visibility: hidden;
  }
  span{
    visibility: hidden;
  }
}
#menuToggle{
  position: relative;
  z-index: 1;
}

#menuToggle input{
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  opacity: 0;
  z-index: 2;
}

#menuToggle span{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;

  background: black;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s ease,
              opacity 0.55s ease;
}

#menuToggle span:first-child{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2){
  transform-origin: 0% 100%;
}
#menuToggle input:checked ~ span{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
}

#menuToggle input:checked ~ span:nth-last-child(3){
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2){
  transform: rotate(-45deg) translate(0, -1px);
}

#menu{
  width: 100%;
  margin: -100px 0 0 -50px;

  list-style-type: none;
  -webkit-font-smoothing: antialiased;

  transform-origin: 0% 0%;
  visibility: hidden;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menuToggle input:checked ~ #menu{
  visibility: visible;
}



content{
  max-width: 800px;
  padding: 50px;
  margin: auto;
  .Gallery{
    height: 500px;
    width: 100%;
    overflow: hidden;
    margin: auto;
    img{
      width: 100%;
    }
    button{
      .prev{

      }
      .next{

      }
    }
  }
  .Gallery-page{
    img{
      width: 100%;
    }
  }
  .price-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
    margin: auto;
    .price-item{
      width: 100%;
    }
  }
  .contact{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
    grid-template-areas: "hours location";
    @media (max-width: 600px) {
      grid-template-areas: "hours" "location";
      grid-template-columns: 1fr;
    }
    .hours{
      grid-area: hours;
      display: grid;
      grid-template-columns: 1fr 20px 1fr;
      grid-template-areas: "day marker time";
      .marker{
        grid-area: marker;
        text-align: center;
      }
      .day{
        grid-area: day;
        text-align: right;
      }
      .time{
        grid-area: time;
      }
    }
    .location{
      grid-area: location;
    }
  }

}
